.navbar {
    font-family: "Roboto Mono";
    font-size: var(--font-size-4);
    font-weight: bold;
    color: var(--dark-color);
    height: 54px;
    background-color: var(--main-color);
    margin: 0;
    padding: var(--spacer-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarItem {
    color: var(--dark-color);
}

.navbarIcons {
    display: flex;
    gap: var(--spacer-xl);
}
