.startScreen {
    font-family: "Roboto Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startScreenCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}
.startScreenStyle {
    font-family: "Roboto Mono";
    color: var(--dark-color);
    text-align: center;
}
.startScreenStyleLarge {
    font-size: var(--font-size-3);
}
.startScreenStyleSmall {
    font-size: var(--font-size-4);
}

.startScreenButton {
    font-size: var(--font-size-1);
    border: 3px solid var(--main-color);
    border-color: var(--light-color);
    border-radius: 15px;
    background-color: var(--main-color);
    padding: var(--spacer-lg) var(--spacer-xl);
    margin: 50px;
    box-shadow: 0 0 0 0.25rem var(--main-color);
}
.startScreenButton:hover {
    box-shadow: 0 0 0 0.25rem var(--dark-color);
    cursor: pointer;
}
.startScreenImg {
    max-height: 300px;
}
